@charset "ISO-8859-1";

/*******************1) Estilos constantes, body, main, footer, font-family, flex, columnas mobile 100%************/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: 'Montserrat', sans-serif;
}

body {
	background: linear-gradient(to right, #757f9a, #d7dde8);
	min-height: 100%;
}

main {
	padding-left: 1em;
	padding-right: 1em;
	width: 100%;
	padding-top: 0;
	display: flex;
	flex-flow: row wrap;
	padding-bottom: 2em;
	height: auto;
}

main::after {
	content: "";
	clear: both;
	display: table;
}

a:-webkit-any-link {
	text-decoration: none;
}

/* For mobile phones: */
[class*="col-"] {
	width: 100%;
}

.ui-widget {
	font-family: 'Montserrat' !important;
}

.ui-dialog {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.chica, .dialog-calendario {
	width: 90% !important;
}

.ui-dialog .ui-dialog-content {
	padding: 1em 2em;
}

.ui-widget {
	font-size: 0.8em;
}

.ui-tabs {
	font-size: 1em;
}

.ui-tabs-header {
	font-size: 1.1em;
}

.ui-helper-reset {
	line-height: 1em;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a,
	.ui-tabs .ui-tabs-nav li.ui-tabs-loading a {
	font-weight: bold;
	color: white;
	background: linear-gradient(to bottom, #0575e6, #021b79);
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button
	{
	font-family: 'Montserrat';
	font-size: 1em;
}

.chica .ui-widget-header, .dialog-calendario .ui-widget-header {
	background: rgb(255, 230, 0);
	border: none;
}

.chica .ui-dialog-titlebar-close {
	display: none;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
	float: inherit;
}

.ui-dialog .ui-dialog-buttonpane {
	text-align: center;
}

.ui-button-text {
	font-weight: bold;
}

/***************************************************************************************************************/
.titulo-pag {
	background: linear-gradient(to bottom, #0575e6, #021b79);
	margin-bottom: 0.3em;
	margin-top: 0.5em;
	padding: 0.5em;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	color: whitesmoke;
	border-radius: 3px;
}

.titulo-pag p {
	text-align: center;
	line-height: 1em;
	font-weight: bold;
}

a:link, a:visited {
	color: rgb(92, 92, 92);
}

.cont-text-pag {
	background: rgb(235, 235, 235);
	background: linear-gradient(0deg, rgba(235, 235, 235, 1) 0%,
		rgba(255, 255, 255, 1) 100%);
	margin-bottom: 1em;
	padding: 1em;
	text-align: justify;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	color: rgb(92, 92, 92);
	font-size: small;
	border-radius: 3px;
	background: linear-gradient(0deg, rgba(235, 235, 235, 1) 0%,
		rgba(255, 255, 255, 1) 100%);
}

.cont-text-pag-tabla {
	background: rgb(235, 235, 235);
	background: linear-gradient(0deg, rgba(235, 235, 235, 1) 0%,
		rgba(255, 255, 255, 1) 100%);
	margin-bottom: 1em;
	padding: 0.3em;
	text-align: justify;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	color: rgb(92, 92, 92);
	font-size: small;
	border-radius: 3px;
	background: linear-gradient(0deg, rgba(235, 235, 235, 1) 0%,
		rgba(255, 255, 255, 1) 100%);
}

.cont-text-pag a {
	text-decoration: none;
	color: rgb(92, 92, 92);
	font-weight: bold;
}

.formContacto {
	width: 90%;
	margin: auto;
	font-weight: bold;
	font-size: 0.9em;
}

.formContacto span {
	color: rgb(92, 92, 92);
}

.formContacto input, select {
	width: 100%;
	margin-bottom: 0.5em;
	color: rgb(92, 92, 92);
	line-height: 1.5em;
	border: 1px solid;
	border-radius: 5px;
	padding: 0.1em 1em;
	outline: none;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.formContacto input:focus, .formContacto select:focus, .detalleTA:focus
	{
	border: 2px solid rgb(9, 83, 219);
}

.divideRegistro input {
	width: 5%;
	margin: 0;
	box-shadow: none;
}

.buscaForm {
	display: flex;
}

.buscaForm1 {
	width: 95%;
}

.buscaForm2 {
	width: 5%;
	text-align: center;
	font-size: 100%;
	font-weight: bold;
}

.detalleTA {
	width: 100%;
	resize: none;
	font-family: 'Montserrat', sans-serif;
	background-color: #FFFFFF;
	border: 1px solid;
	border-radius: 5px;
	line-height: 1.5em;
	padding: 0.8em;
	outline: none;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.btnForm {
	width: 50%;
	margin: 1em 25% 0 25%;
	line-height: 2em;
	background: linear-gradient(to bottom, #0575e6, #021b79);
	border: none;
	color: #FFFFFF;
	font-weight: bold;
	border-radius: 5px;
	outline: none;
}

.separadorForm {
	border-bottom: 1px solid rgb(9, 83, 219);
	box-shadow: 0 3px 2px -2px gray;
	border-bottom: 2px solid rgb(9, 83, 219);
	margin: 1em 0;
	padding-bottom: 0.5em;
	font-weight: bold;
	color: rgb(92, 92, 92)
}

.seccionForm {
	padding: 0.5em 1em;
	display: flex;
	flex-flow: row wrap;
}

form .error {
	color: red;
	font-weight: bold;
	margin-bottom: 0.5em;
}

.miniBtn {
	background: linear-gradient(to top, #232526, #414345);
}

/***************** 2) Estilo media only max-width:415px ****************************************************/
@media only screen and (max-width: 400px) {
}

/***************************************************************************************************************/

/***************** 3) Estilo media only min-width: 600px ****************************************************/
@media only screen and (min-width: 600px) {
	/* For tablets: */
	.col-1 {
		width: 100%;
	}
	.cont-text-pag {
		padding: 2em;
	}
	.cont-text-pag span {
		font-size: 1em;
	}
	.chica, .dialog-calendario {
		width: 60% !important;
	}
}

/***************************************************************************************************************/

/***************** 4) Estilo media only min-width: 705px ****************************************************/
@media only screen and (min-width: 705px) {
}

/***************** 5) Estilo media only min-width: 800px ****************************************************/
@media only screen and (min-width: 800px) {
	/* For desktop: */
	#uno {
		order: 0;
	}
	#dos {
		order: 2;
	}
	#tres {
		order: 1;
	}
	#cuatro {
		order: 3;
	}
	.col-2 {
		width: 49.5%;
		margin: 0.2em auto;
	}
	.col-3 {
		width: 65%;
		margin: 0.2em auto;
	}
	.col-4 {
		width: 34%;
		margin: 0.2em auto;
	}
	.col-5 {
		width: 70%;
		margin: 0.2em auto;
	}
	.col-6 {
		width: 29%;
		margin: 0.2em auto;
	}
	main {
		padding-left: 4em;
		padding-right: 4em;
		padding-top: 0;
	}
	p {
		font-size: 1em;
	}
	.titulo-pag {
		padding: 0.4em;
		margin-top: 1em;
	}
	.titulo-pag p {
		line-height: 1.1em;
	}
	.chica, .dialog-calendario {
		width: 30% !important;
	}
	.formContacto {
		width: 90%;
		font-size: 1em;
	}
}